<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register Page</title>

    <!-- Compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- Compiled and minified JavaScript #1b2f5c-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body {overflow: hidden;}>
    <nav class="navbar navbar-light" style="background-color: #ffffff;">
      <div class="container">
          <a class="navbar-brand" href="/home">
            <img src="https://www.uhamka.ac.id/static/media/UhamaLogo2.d4e8b86c517ad991c800.png" width="auto" height="65px" class="d-inline-block align-top" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav align-items-lg-center ms-auto me-lg-5">
                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="/home">Home</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="/register">Register</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link click-scroll" href="/login">Login</a>
                  </li>
          </div>
      </div>
  </nav>
  <hr>
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Go</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/views/home.html">Home</a></li>
          <li><a href="/views/login.html">Login</a></li>
        </ul>
      </div>
    </nav> -->
  </br>
    <h1><center>Pendaftaran PKL</h1></center>
    <div class="container">
      <div class="row">
        <form method="POST" class="col s12">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              name="username"
              type="text"
              class="form-control"
              id="username"
              aria-describedby="username"
              placeholder="Enter username"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="password">Password</label>
            <input
              name="password"
              type="password"
              class="form-control"
              id="password"
              aria-describedby="password"
              placeholder="Enter password"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="nim">NIM</label>
            <input
              name="nim"
              type="text"
              class="form-control"
              id="nim"
              aria-describedby="nim"
              placeholder="Enter NIM"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="nama">Nama</label>
            <input
              name="nama"
              type="text"
              class="form-control"
              id="nama"
              aria-describedby="nama"
              placeholder="Enter Name"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="asal_instansi">Asal Instansi</label>
            <input
              name="asal_instansi"
              type="text"
              class="form-control"
              id="asal_instansi"
              aria-describedby="asal_instansi"
              placeholder="Enter Institute"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="mulai_pkl">Mulai PKL</label>
            <input
              name="mulai_pkl"
              type="date"
              class="form-control"
              id="mulai_pkl"
              aria-describedby="mulai_pkl"
              placeholder="Enter Date"
            />
          </div>
          <br />
          <div class="form-group">
            <label for="selesai_pkl">Selesai PKL</label>
            <input
              name="selesai_pkl"
              type="date"
              class="form-control"
              id="selesai_pkl"
              aria-describedby="selesai_pkl"
              placeholder="Enter Date"
            />
          </div>
          <br />
          <div class="input-field col s12">
            <label for="upload_file" class="form-label">Surat </label>
            <input
              name="upload_file"
              id="upload_file"
              type="file"
              class="form-control"
              for="upload_file"
            />
          </div>
          <div class="form-group d-none">
            <label for="role">Role</label>
            <input
              name="role"
              type="text"
              class="form-control"
              id="role"
              aria-describedby="role"
              placeholder="Enter Role"
              value="2"
            />
          </div>
          <br />
          <div class="form-group d-none">
            <label for="status">Status</label>
            <input
              name="status"
              type="text"
              class="form-control"
              id="status"
              aria-describedby="status"
              placeholder="Enter Status"
              value="0"
            />
          </div>
          <br />
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btn btn-secondary">Register</button>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
  </body>
</html>
